doctype 5
html
  head
    title {{ SHOP_TITLE }}
    include base/assets.html
    include base/analytics.jade

  body
    #content
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            .brand {{ SHOP_TITLE }}
            ul.nav
              li: a(href='{{ EVENT_URL }}') Takaisin {{ EVENT_NAME_GENITIVE }} sivuille

      .container
        ul.breadcrumb
          for the_phase in phases
            if the_phase.available
              li
                a(href='{{ the_phase.url }}') {{ forloop.counter }}. {{ the_phase.friendly_name }}
            else
              if the_phase.current
                li.active {{ forloop.counter }}. {{ the_phase.friendly_name }}
              else
                li {{ forloop.counter }}. {{ the_phase.friendly_name }}

        #messages
          for message in messages
            .alert(class='alert-{{ message.tags }}') {{ message  }}

        block body_text
          p Sisältö tulee tähän.

        form(method='post', action='{{ phase.url }}').form-horizontal
          {% csrf_token %}

          block form_content
            p Lomakkeen sisältö tulee tähän.

          include ticket_sales/buttons.jade

      #push

    footer
      .container
        p.muted.credit
          | {{ EVENT_NAME_GENITIVE }} järjestää 
          a(href="http://ry.tracon.fi") Tracon ry
          | . Verkkokauppa &copy; 2009&ndash;2013 Santtu Pajukanta, Jussi Sorjonen, Petri Haikonen, Meeri Panula ja  Esa Ollitervo.