{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}{% load wizard_ui %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
   PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
  <head>
    <title>Tracon V: Lippukauppa</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style.css" />
  </head>
  <body>
    <div id="main">
      {% comment %}
        Progress bar.
      {% endcomment %}
      <div id="breadcrumb">
        <ul>
        {% for the_phase, available, current in phases %}
          {% if available %}
            <li><a href="{% url_ptr the_phase.name %}">{{ forloop.counter }}. {{ the_phase.friendly_name }}</a></li>
          {% else %}
            {% if current %}
              <li class="selected">{{ forloop.counter }}. {{ the_phase.friendly_name }}</li>
            {% else %}
              <li>{{ forloop.counter }}. {{ the_phase.friendly_name }}</li>
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      <form method="post" action="{% url_ptr phase.name %}">
        <div id="top">
          <div id="t_left">
            <div id="header">
              {% block body_text %}
                <p>Sisältö tulee tähän.</p>
              {% endblock body_text %}
              <div id="errors">
                {% for error in errors %}
                  {% ifequal error "syntax" %}
                    <p>Tarkista kenttien sisältö.</p>
                  {% endifequal %}
                  {% ifequal error "zero" %}
                    <p>Et ole valinnut yhtään tuotetta.</p>
                  {% endifequal %}
                  {% ifequal error "num_tshirts" %}
                    <p>Tarkista T-paitojen lukumäärä.</p>
                  {% endifequal %}
                {% endfor %}
              </div>
            </div>
            <div id="content">
              {% block form_content %}
                <p>Lomakkeen sisältö tulee tähän.</p>
              {% endblock form_content %}
            </div>
          </div>
          <div id="t_right">
            <img class="mascot" src="{{ MEDIA_URL }}/gm{{ phase.index|add:1 }}.png" alt="Ernest" />
          </div>
        </div>

        <div id="bottom">
          <div id="b_left">
            {% comment %}
              Implementation of pink mascot.
              Use block pink_mascot in templates for file name.
            {% endcomment %}
            <img class="mascot" src="{{ MEDIA_URL }}/pm{{ phase.index|add:1 }}.png" alt="Frulle" />
          </div>

          <div id="b_right">
            <div id="bubble">
              {% block mascot_text %}
                <p>Frullen jutut tulee tähän.</p>
              {% endblock mascot_text %}
            </div>
           
            <div id="navi">
              {% comment %}
                Implementation of navigation buttons.
              {% endcomment %}
              
              {% if phase.next_phase %}
                {% comment %}
                  This button is removed from view using CSS.
                {% endcomment %}
                <button class="enterhack" type="submit" name="action" value="next">{{ phase.next_text|safe }}</button>
              {% endif %}

              {% if phase.can_cancel %}
                <button class="abort" type="submit" name="action" value="cancel" tabindex="300">&times; Keskeytä</button>
              {% else %}
                <button class="abort" type="submit" name="action" value="cancel" disabled="disabled">&times; Keskeytä</button>
              {% endif %}

              {% if phase.prev_phase %}
                <button type="submit" name="action" value="prev" tabindex="200">&laquo; Edellinen</button>
              {% else %}
                <button type="submit" name="action" value="prev" disabled="disabled">&laquo; Edellinen</button>
              {% endif %}

              {% if phase.next_phase %}
                <button type="submit" name="action" value="next" tabindex="100">{{ phase.next_text|safe }}</button>
              {% else %}
              <button type="submit" name="action" value="next" disabled="disabled">{{ phase.next_text|safe }}</button>
              {% endif %}
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="footer">
      <p>Tracon ry 2009&ndash;2010 &middot; lipunmyynti10 ät tracon piste fi</p>
      <p id="rekisteriseloste"><a href="http://2010.tracon.fi/lippukaupan-rekisteriseloste" target="_blank">Henkilötietolain (523/99) 10 § mukainen rekisteriseloste</a></p>
    </div>
  </body>
</html>
