{% extends "ticket_admin/base.html" %}
{% comment %}
vim: shiftwidth=2 expandtab
encoding: utf-8
{% endcomment %}
{% block content %}
<h1>Myyty tähän mennessä</h1>
<p>Tilauksia {{ num_orders }}, joista maksettu {{ num_paid_orders }}, joista toimitettu {{ num_delivered_orders }}</p>
<p>Peruutettuja tilauksia {{ num_cancelled_orders }}</p>
<p>Myyty yhteensä {{ total }}:lla, josta maksettu {{ paid }}</p>
<p>Lippuja: {{ num_tickets }}</p>
<p>T-paitoja: {{ num_tshirts }}</p>
<p>Majoituspaikkoja: {{ num_accommodation }}</p>
{% endblock content %}
