{% extends "ticket_admin/base.html" %}
{% comment %}
vim: shiftwidth=2 expandtab
encoding: utf-8

{% endcomment %}
{% block content %}
<h1>Myyty tähän mennessä</h1>
<table>
  <thead>
    <tr>
      <th>Tuote</th>
      <th>Kpl</th>
      <th>Rahaa</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.count }}</td>
        <td>{{ item.cents }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Yhteensä</th>
      <th></th>
      <th>{{ total_price }}</th>
    </tr>
  </tfoot>
</table>
{% endblock content %}
