{% comment %}
vim: shiftwidth=2 expandtab
encoding: utf-8
{% endcomment %}<!DOCTYPE html 
   PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi"> 
  <head> 
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/admin.css" />
    <title>Tracon 7: Lippukaupan hallinta</title>
  </head>
  <body>
    {% block content %}
      <h1>Mui.</h1>
      <p>Sisältö tulee tähän.</p>
    {% endblock content %}
    <hr />
    <p><a href="{% url manage_view %}">Hallinnan etusivulle</a> | <a href="{% url logout_page %}">Kirjaudu ulos</a></p>
  </body>
</html>
