{% extends "base/base.html" %}
{% load wizard_ui %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block body_text %}
<h1>Toimitusosoite</h1>
{% endblock body_text %}
{% block form_content %}
<fieldset><legend>Syötä toimitusosoite.</legend>
<p>Tarvitsemme vielä osoitteen, johon lähetämme tilaamasi Tracon-lippupaketit. Tilausvahvistuksen ja maksuohjeet saat sähköpostitse. Puhelinnumeroa käytämme, mikäli ongelmia syntyy. Emme luovuta yhteystietojasi eteenpäin.</p>
<div class="req"><label for="id_name">Nimi</label>{{ form.name }}</div>
<div class="req"><label for="id_address">Osoite</label>{{ form.address }}</div>
<div class="req"><label for="id_zip_code">Postinumero</label>{{ form.zip_code }}</div>
<div class="req"><label for="id_city">Postitoimipaikka</label>{{ form.city }}</div>
<div class="req"><label for="id_email">Sähköpostiosoite</label>{{ form.email }}</div>
<div class="opt"><label for="id_phone_number">Puhelinnumero</label>{{ form.phone_number }}</div>
</fieldset>
{% endblock form_content %}
{% block mascot_text %}
{% endblock mascot_text %}
