{% comment %}
vim: shiftwidth=2 expandtab
encoding: utf-8
{% endcomment %}
<div id="left">
  <h2>Liput</h2>

  <dl>
  {# XXX ugly copypastah #}
  {% with order.product_info.tickets_tshirts_accommodation as n %}
    {% if n %}
      <dt>tickets tshirts accommodation</dt>
      <dd>{{ n }}</dd>
    {% endif %}
  {% endwith %} 
  {% with order.product_info.tickets_accommodation as n %}
    {% if n %}
      <dt>tickets accommodation</dt>
      <dd>{{ n }}</dd>
    {% endif %}
  {% endwith %} 
  {% with order.product_info.tickets_tshirts as n %}
    {% if n %}
      <dt>tickets tshirts</dt>
      <dd>{{ n }}</dd>
    {% endif %}
  {% endwith %} 
  {% with order.product_info.tickets as n %}
    {% if n %}
      <dt>tickets</dt>
      <dd>{{ n }}</dd>
    {% endif %}
  {% endwith %} 
  </dl>

  <h2>Paidat</h2>

  <dl>
    {% for shirt in shirts %}
      <dt>{{ shirt.size }}</dt>
      <dd>{{ shirt.count }}</dd>
    {% endfor %}
  </dl>
</div>

<div id="right">
  <h2>Toimitusosoite</h2>

  <p>
    {{ order.customer.name }}<br/>
    {{ order.customer.address }}<br/>
    {{ order.customer.zip_code }} {{ order.customer.city }}
  </p>
  <p>
    {{ order.customer.email }}<br/>
    {{ order.customer.phone_number }}
  </p>
</div>
