{% extends "base/base.html" %}
{% load wizard_ui %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block body_text %}
<h1>Paitojen koot</h1>
<p>Syötä koot tilattaville paidoille.</p>
{% endblock body_text %}
{% block form_content %}
<table>
  <tr>
    <th class="count">Paitoja yhteensä</th>
    <td class="count">{{ num_shirts }} kpl</td>
  </tr>

  {% for ladyfit, description in ladyfit_hack %}
    <tr>
      <th rowspan="2">{{ description }}</th>
      {% for iform in form %}
        {% with iform.instance.size as size %}
          {% ifequal size.ladyfit ladyfit %}
            {% if size.available %}
                <td>{{ size.name }}</td>
            {% else %}
                <td></td>
            {% endif %}
          {% endifequal %}
        {% endwith %}
      {% endfor %}
    </tr>
    <tr>
      {% for iform in form %}
        {% with iform.instance.size as size %}
          {% ifequal size.ladyfit ladyfit %}
            {% if size.available %}
              <td class="input">{{ iform.count }}</td>
            {% else %}
              <td class="input"></td>
            {% endif %}
          {% endifequal %}
        {% endwith %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endblock form_content %}
{% block mascot_text %}
<p>Olet valinnut paitoja tilaukseesi. Meidän tarvitsee vielä tietää paitojen koot. Tarkistathan myös, että olet antanut oikean määrän paitoja. Paidat voi noutaa tapahtumasta postissa tulevaa lipuketta vastaan.</p>
{% endblock mascot_text %}
