{% extends "base/base.html" %}
{% load wizard_ui %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block helptext %}
<h1>Ilmoita paitojen koot</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
{% endblock helptext %}
{% block form_content %}
  <table>
    <tr>
      <th>Paitoja yhteensä</th>
      <td>{{ num_shirts }} kpl</td>
    </tr>

    {# XXX ugly copypastah #}
    <tr>
      <th rowspan="2">Tavallinen paita</th>
      {% for size, count in normal_sizes %}
        <td>{{ size.name }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for size, count in normal_sizes %}
        <td>
          <input type="text" size="2" name="s{{ size.pk }}" value="{{ count }}" />
        </td>
      {% endfor %}
    </tr>

    <tr>
      <th rowspan="2">Ladyfit-paita</th>
      {% for size, count in ladyfit_sizes %}
        <td>{{ size.name }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for size, count in ladyfit_sizes %}
        <td>
          <input type="text" size="2" name="s{{ size.pk }}" value="{{ count }}" />
        </td>
      {% endfor %}
    </tr>
  </table>
{% endblock form_content %}
