{% extends "base/base.html" %}
{% load wizard_ui %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block body_text %}
<h1>Kiitos tilauksesta!</h1>
<p>Tilauksesi on nyt valmis! Tilausvahvistus ja maksutiedot on lähetetty antamaasi sähköpostiosoitteeseen. Nähdään Traconissa!</p>
<p>Huomioithan, että lippuja toimitetaan pitkin kesää isommissa erissä, eli rannekeen toimituksessa voi kestää useampi viikko. Kaikki lipputilaukset toimitetaan kuitenkin <strong>hyvissä ajoin ennen tapahtumaa</strong>, eikä kukaan lippunsa ajoissa maksanut jää vaille lippuja.</p>
<p>Tilauksesi tiedot:</p>
{% endblock body_text %}
{% block form_content %}
{% include "ticket_sales/order_statement.html" %}
{% endblock form_content %}
