{% extends "base/base.html" %}
{% load wizard_ui %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block body_text %}
<h1>Valitse ostettavat ennakkolippupaketit</h1>
<p>Kirjoita kenttiin, montako mitäkin tuotetta haluat. Voit tilata useita tuotteita samalla kertaa. Voit vielä tarkistaa tiedot myöhemmin, ennen kuin vahvistat tilauksen.</p>
{% endblock body_text %}
{% block form_content %}
<table>
  <tr>
    <th>Tuote</th>
    <th class="right">Kappalehinta</th>
    <th class="input">Määrä</th>
  </tr>
  {% for iform in form %}
{% comment %}    {{ iform }}{% endcomment %}
    <tr>
      <td>{{ iform.instance.product.name }}</td>
      <td class="right">{{ iform.instance.product.formatted_price }}</td>
      {% if iform.instance.product.available %}
        <td class="tcount">{{ iform.count }}</td>
      {% else %}
        <td class="tcount">Ei saatavilla</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
<p id="lisatietojalipuista"><a href="http://2010.tracon.fi/liput" target="_blank">Lisätietoja lipuista...</a></p>
{% endblock form_content %}
{% block mascot_text %}
{% endblock %}
