{% extends "base/base.html" %}
{% load wizard_ui %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block body_text %}
<h1>Valitse ostettavat ennakkolippupaketit</h1>
{% endblock body_text %}
{% block form_content %}
<p>Kirjoita kenttiin, montako mitäkin tuotetta haluat. Voit tilata useita tuotteita samalla kertaa. Voit vielä tarkistaa tiedot myöhemmin, ennen kuin vahvistat tilauksen.</p>
<table>
  <tr>
    <th colspan="2">Tuote</th>
    <th class="right">Kappalehinta</th>
    <th class="input">Määrä</th>
  </tr>
  {% for iform in form %}
{% comment %}    {{ iform }}{% endcomment %}
{% if iform.instance.product.in_stock %}
    <tr class="{{ iform.instance.product.classname }}">
    {% else %}
    <tr class="{{ iform.instance.product.classname }} loppuunmyyty">
	{% endif %}
	{% if iform.instance.product.image %}
	  <td class="productimage"><img src="{{ MEDIA_URL }}/images/{{ iform.instance.product.image }}" alt="{{ iform.instance.product.name }}" /></td>
    {% else %}
	  <td class="productimage">&nbsp;</td>
	{% endif %}
      <td class="productname">{{ iform.instance.product.name }} <div class="description">{{ iform.instance.product.description }}</div>
	{% if iform.instance.product.in_stock %}
		{% if iform.instance.product.max_order_amount < 10 %}
		<div class="tuotesaldo">Saatavilla enää {{ iform.instance.product.max_order_amount }} kpl!</div>
		{% endif %}
	{% else %}
		<div class="loppuunmyyty">Loppuunmyyty!</div>
	{% endif %}
      </small></td>
      <td class="right">{{ iform.instance.product.formatted_price }}</td>
      {% if iform.instance.product.available %}
	{% if iform.instance.product.in_stock %}
        <td class="tcount">{{ iform.count }}</td>
	{% else %}
        <td class="tcount">&nbsp;</td>
	{% endif %}
        
      {% else %}
        <td class="tcount">Ei saatavilla</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
<p id="lisatietojalipuista"><a href="http://2011.tracon.fi/liput" target="_blank">Lisätietoja lipuista...</a></p>
{% endblock form_content %}
{% block mascot_text %}
{% endblock %}
