{% extends "base/base.html" %}
{% load wizard_ui %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block body_text %}
<h1>Valitse ostettavat ennakkolippupaketit</h1>
<p>Syötä tilattavat tuotteet.</p>
{% endblock body_text %}
{% block form_content %}
<table>
  <tr>
    <th>Tuote</th>
    <th>Kappalehinta</th>
    <th>Määrä</th>
  </tr>
  <tr>
    <td>Ennakkolippu ja T-paita</td>
    <td>18,00 €</td>
    <td><input type="text" name="tickets_tshirts" id="id_tickets_tshirts" size="2" {% field_error_class form.tickets_tshirts.errors %} value="{{ form.tickets_tshirts|field_value }}"></td>
  </tr>
  <tr>
    <td>Ennakkolippu, T-paita ja lattiamajoitus</td>
    <td>25,00 €</td>
    <td>{{ form.tickets_tshirts_accommodation }}</td>
  </tr>
  <tr>
    <td>Ennakkolippu ja lattiamajoitus</td>
    <td>18,00 €</td>
    <td>{{ form.tickets_accommodation }}</td>
  <tr>
    <td>Pelkkä ennakkolippu</td>
    <td>10,00 €</td>
    <td>{{ form.tickets }}</td>
  </tr>
</table>
{% endblock form_content %}
{% block mascot_text %}
<p>Kirjoita kenttiin, montako mitäkin tuotetta haluat. Voit tilata useita tuotteita samalla kertaa. Voit vielä tarkistaa tiedot myöhemmin, ennen kuin vahvistat tilauksen.</p>
{% endblock %}
