{% extends "base/base.html" %}
{% load wizard_ui %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block body_text %}
<h1>Tervetuloa ostamaan Tracon V -lippuja!</h1>
{% endblock %}
{% block mascot_text %}
<p>Heippa! Minä olen Frulle, Tracon V:n se vähemmän örisevä maskotti. Tuo tuolla yläkulmassa on nimeltään Ernest. Kerron sinulle, miten sinun pitää toimia varatessasi majoituspaikkoja! Myöskin minun omat linjani selkenevät, kun teet valintojasi.</p>
{% endblock %}
{% block form_content %}
<p class="welcome">Tervetuloa Tracon V:n ennakkolippukauppaan. Ennakkolippujen myynti on tältä erää lopetettu, mutta voit yhä varata paikkoja lattiamajoituksesta tämän verkkokaupan kautta.</p>
<p class="welcome">Tuotteet maksetaan tilisiirrolla.</p>
<p class="welcome">Lisätietoja lipuista voit lukea <a href="http://2010.tracon.fi/liput" target="_blank">tapahtuman kotisivuilta.</a></p>
{% endblock %}
