{% load wizard_ui %}
<ul>
{% for the_phase, available, current in phases %}
  {% if available %}
    {% if current %}
      <li class="progress_current"><a href="{% url_ptr the_phase.name %}">{{ forloop.counter }}. {{ the_phase.friendly_name }}</a></li>
    {% else %}
      <li class="progress_available"><a href="{% url_ptr the_phase.name %}">{{ forloop.counter }}. {{ the_phase.friendly_name }}</a></li>
    {% endif %}
  {% else %}
    <li class="progress_unavailable">{{ forloop.counter }}. {{ the_phase.friendly_name }}</li>
  {% endif %}
{% endfor %}
</ul>
