{% comment %}
vim: shiftwidth=2 expandtab
encoding: utf-8
{% endcomment %}
{% load wizard_ui %}
<div id="breadcrumb">
  <ul>
  {% for the_phase, available, current in phases %}
    {% if available %}
      {% if current %}
        <li class="selected">{{ forloop.counter }}. {{ the_phase.friendly_name }}</li>
      {% else %}
        <li><a href="{% url_ptr the_phase.name %}">{{ forloop.counter }}. {{ the_phase.friendly_name }}</a></li>
      {% endif %}
    {% else %}
      <li>{{ forloop.counter }}. {{ the_phase.friendly_name }}</li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
