{% comment %}
vim: shiftwidth=2 expandtab
encoding: utf-8
{% endcomment %}
<input type='hidden' name='VERSION' value='{{ order.checkout_vars.VERSION }}'>
<input type='hidden' name='STAMP' value='{{ phase.stamp }}'>
<input type='hidden' name='AMOUNT' value='{{ order.price_cents }}'>
<input type='hidden' name='REFERENCE' value='{{ order.reference_number }}'>
<input type='hidden' name='MESSAGE' value='Tracon 8'>
<input type='hidden' name='LANGUAGE' value='{{ order.checkout_vars.LANGUAGE }}'>
<input type='hidden' name='MERCHANT' value='{{ order.checkout_vars.MERCHANT }}'>
<input type='hidden' name='RETURN' value='{{ order.checkout_vars.RETURN }}'>
<input type='hidden' name='CANCEL' value=''>
<input type='hidden' name='REJECT' value=''>
<input type='hidden' name='DELAYED' value=''>
<input type='hidden' name='COUNTRY' value='{{ order.checkout_vars.COUNTRY }}'>
<input type='hidden' name='CURRENCY' value='{{ order.checkout_vars.CURRENCY }}'>
<input type='hidden' name='DEVICE' value='{{ order.checkout_vars.DEVICE }}'>
<input type='hidden' name='CONTENT' value='{{ order.checkout_vars.CONTENT }}'>
<input type='hidden' name='TYPE' value='{{ order.checkout_vars.TYPE }}'>
<input type='hidden' name='ALGORITHM' value='{{ order.checkout_vars.ALGORITHM }}'>
<input type='hidden' name='DELIVERY_DATE' value='20130630'>
<input type='hidden' name='FIRSTNAME' value='{{ order.customer.first_name }}'>
<input type='hidden' name='FAMILYNAME' value='{{ order.customer.last_name }}'>
<input type='hidden' name='ADDRESS' value='{{ order.customer.address }}'>
<input type='hidden' name='POSTCODE' value='{{ order.customer.zip_code }}'>
<input type='hidden' name='POSTOFFICE' value='{{ order.customer.city}}'>
<input type='hidden' name='MAC' value='{{ mac }}'>