extends base/base.jade
block body_text
  h2 Vahvista tilaus
block form_content
  p
    | Tarkista vielä tilauksen tietosi ja tilaamiesi tuotteiden määrät. Valitsemalla
    em Siirry maksamaan
    |  siirryt maksusivulle, jolla maksat tilauksesi verkkopankkitunnuksilla.

  p.alert.alert-warning.alert-large
    strong Huom!
    |  Muistathan maksun suoritettuasi painaa maksusivulla olevaa "Palaa myyjän sivulle"-nappia.

  include ticket_sales/order_statement.jade
  include ticket_sales/checkout.html