extends base/base.jade
block body_text
  h2 Vahvista tilaus
block form_content
  p
    | Tarkista viel채 tilauksen tietosi ja tilaamiesi tuotteiden m채채r채t. Valitsemalla
    em Siirry maksamaan
    |  siirryt maksusivulle, jolla maksat tilauksesi verkkopankkitunnuksilla.

  include ticket_sales/order_statement.jade
  include ticket_sales/checkout.html