{% extends "base/base.jade" %}
{% load wizard_ui %}
{% comment %}
encoding: utf-8
vim: shiftwidth=2 expandtab
{% endcomment %}
{% block body_text %}
<h1>Tervetuloa varaamaan Tracon 7 -majoituspaikkoja!</h1>
{% endblock %}
{% block form_content %}
{% comment %}<p class="welcome">Tervetuloa Tracon 7:n ennakkolippukauppaan. Tästä verkkokaupasta voit ostaa itsellesi ja vaikka myös kavereillesi etukäteen liput ja majoitukset ensi kesän tapahtumaan. Liput Traconiin ovat myös harrastajalle oiva lahjaidea!</p>
<p class="welcome">Tuotteet maksetaan tilisiirrolla. Tilauksilla on maksuaikaa <strong>7 päivää tilauksesta</strong>.</p>
<p class="welcome">Lippuja toimitetaan pitkin kesää isommissa erissä, eli rannekeen toimituksessa voi kestää useampi viikko. Kaikki lipputilaukset toimitetaan kuitenkin <strong>hyvissä ajoin ennen tapahtumaa</strong>, eikä kukaan lippunsa ajoissa maksanut jää vaille lippuja.</p>
<p class="welcome">Ennakkolipunmyynti verkossa päättyy <strong>perjantaina 17. elokuuta</strong>.</p>
<p class="welcome">Lisätietoja lipuista voit lukea <a href="http://2012.tracon.fi/liput" target="_blank">tapahtuman kotisivuilta.</a></p>{% endcomment %}
<p class="welcome">Tracon-lippujen ennakkomyynti verkossa päättyi <strong>perjantaina 17. elokuuta</strong>. Majoituspaikkojen myynti verkossa päättyi <b>maanantaina 3. syyskuuta</b>.</p>
<p class="welcome">Lisätietoja lipuista voit lukea <a href="http://2012.tracon.fi/liput" target="_blank">tapahtuman kotisivuilta.</a></p>
{% endblock %}
