extends base/base.jade
block body_text
  .hero-unit
    h2 Tervetuloa ostamaan {{ EVENT_NAME }} -lippuja!
    p Tervetuloa {{ EVENT_NAME }}:n ennakkolippukauppaan. Tästä verkkokaupasta voit ostaa itsellesi ja vaikka myös kavereillesi etukäteen liput ja majoitukset ensi kesän tapahtumaan.
    p
      | Lisätietoja
      a(href='{{ EVENT_URL }}', target='_blank') {{ EVENT_NAME }}:n web-sivuilta
      | !
    p Aloita valitsemalla Seuraava.
block form_content